/* font-family: 'Lato', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

nav {
    font-family: 'Lato', sans-serif;
    background-color: #551a8b;
    color: rgba(255, 255, 255, 0.8);
    width: 98vw;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

body {
    margin: 0;
}

nav h1 {
    flex: 2;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: normal;
}

nav div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

div a {
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    text-decoration: none;

}