* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}

div {
    color: #fff;
    text-align: center;
    width: 50vw;
    height: 33vh; /* fallback for browsers without calc() support */
    height: calc(100vh / 3);
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    font-family: sans-serif;
    font-size: 48px;
    text-shadow: 1px 1px 5px black;
}

#red-1 {
    background-color: #f44336;
}

#orange-2 {
    background-color: #FF9800;
}

#yellow-3 {
    background-color: #FFEB3B;
}

#green-4 {
    background-color: #8BC34A;
}

#blue-5 {
    background-color: #2196F3;
}

#purple-6 {
    background-color: #9C27B0;
}

@media only screen and (min-width: 600px)
{
    div {
        width: 33vw; /* fallback for browsers without calc() support */
        width: calc(100vw / 3);
        height: 50vh;
    }
}